body {
    margin: 0;
    height: 100%;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
}

#container {
    width: 100%;
    height: 100vh;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background: #77DCF2;
    width: 100%;
    height: 10%;
}
 
 
.first_image {
    background: #94F2AB;
    float: left;
    width: 30%;
    height: 80%;
}
 
.second_image {
    background: #F2EC94;
    float: left;
    width: 40%;
    height: 80%;
}

.content {
    background: #E794F2;
    float: right;
    width: 30%;
    height: 80%;
}
 
.footer {
    clear: both;
    background: #F2DBAE;
	width: 100%;
	height: 10%;   
}